<template>
  <vm-map-element class="map-element" :vm-map="map">
    <!-- <vm-layer :vm-layer="osmLayer"></vm-layer> -->
  </vm-map-element>
  <!-- <vm-map-provider :vm-map="map">
    <vm-layer :vm-layer="useCountiesLayer"></vm-layer>
    <vm-layer :vm-layer="trafficLayer"></vm-layer>
  </vm-map-provider> -->
  <layer-provider :layers="['counties']"><app-status></app-status></layer-provider>
  <map-selector></map-selector>
</template>

<script>
import { computed } from 'vue';

import { addStyleOptions, VmMapElement, LayerProvider } from '@vuemap/index.js';
// import VmMapProvider from '@vuemap/index.js';
// import VmLayer from '@vuemap/index.js';

import AppStatus from './AppStatus.vue';
import MapSelector from './MapSelector.vue';
import { modelStyleFn } from './playgroundUtils.js';
import { useMainMap, useOSMBaseLayer, useCountiesLayer, useTrafficLayer } from './map-objects.js';

export default {
  components: { VmMapElement, LayerProvider, /*VmMapProvider, VmLayer,*/ AppStatus, MapSelector },
  setup() {
    const map = useMainMap();

    const osmLayer = useOSMBaseLayer();
    const trafficLayer = useTrafficLayer();

    const trafficStyle = addStyleOptions(
      modelStyleFn,
      computed(() => trafficLayer.context?.getByFeature),
    );

    map.manager.createMapState('traffic', {
      layers: [
        {
          layer: trafficLayer,
          state: {
            style: trafficStyle,
          },
        },
      ],
    });

    map.manager.createMapState('counties', {
      layers: [useCountiesLayer],
    });

    map.manager.createMapState('both', {
      layers: [
        {
          layer: trafficLayer,
          state: {
            style: trafficStyle,
          },
        },
        useCountiesLayer,
      ],
    });

    map.manager.addBaseMap(osmLayer);
    map.manager.setBaseMap(osmLayer);

    return {
      map,
      osmLayer,
      trafficLayer,
      useCountiesLayer,
    };
  },
};
</script>

<style>
.map-element {
  width: 100%;
  height: 600px;
}
</style>
