<template>
  <div>
    <span>MAP STATE: </span>
    <span>loading {{ isLoading }}, </span>
    <span>ready {{ isReady }}</span>
  </div>
  <div>
    <span>Zoom: {{ zoom }}, </span>
    <span>Center: {{ center }}</span>
  </div>
  <div>
    <span>COUNTIES READY: {{ countiesReady }}</span>
    <button @click="setRandomCounties(0.2)">0.2</button>
    <button @click="setRandomCounties(0.5)">Shuffle</button>
    <button @click="setRandomCounties(0.8)">0.8</button>
    <button @click="setRandomCounties(1.0)">All</button>
  </div>
  <div>
    <span>TRAFFIC context: </span>
    <span v-if="contextKeys.length === 0">Contexts not loaded</span>
    <button v-for="ctx in contextKeys" :key="'ctx' + ctx" @click="changeContext(ctx)">{{ ctx }}</button>
  </div>
  <div>
    <span>MAP STATES LIST</span>
    <button v-for="state in mapState.list" :key="'state' + state" @click="setMapState(state)">{{ state }}</button>
    <span v-show="mapState.loading">Loading map state</span>
  </div>
  <div>
    <span>MAP BASEMAP</span>
    <button @click="setBaseMap('OSM')">OSM</button>
    <button @click="setBaseMap()">NO BASE</button>
  </div>
</template>

<script>
import { toRefs, computed } from 'vue';

import { useMainMap, useCountiesLayer, useTrafficLayer } from './map-objects.js';

export default {
  setup() {
    const map = useMainMap();
    const { isLoading, isReady } = toRefs(map);

    const counties = useCountiesLayer();
    const { isReady: countiesReady } = toRefs(counties);

    let originalCounties = null;
    const setRandomCounties = (chance) => {
      if (!originalCounties) originalCounties = [...counties.features];
      counties.features = originalCounties.filter(() => Math.random() < chance);
    };

    const trafficLayer = useTrafficLayer();
    const contextKeys = computed(() => (trafficLayer.isReady ? trafficLayer.context.contextKeys : []));
    const changeContext = (contextKey) => {
      trafficLayer.context.set(contextKey);
    };

    const setMapState = (state) => {
      map.manager.setMapState(state);
    };

    const setBaseMap = (id) => map.manager.setBaseMap(id);

    return {
      isLoading,
      isReady,
      ...toRefs(map.view.state),
      countiesReady,
      setRandomCounties,
      contextKeys,
      changeContext,
      mapState: map.manager.state,
      setMapState,
      setBaseMap,
    };
  },
};
</script>

<style>
.map-element {
  width: 100%;
  height: 600px;
}
</style>
