<template>
  <div>
    <span v-if="isActive">Selecting</span>
    <span v-else>Not selecting</span>
    <button @click="setActive(!isActive)">Toggle</button>
    <button :disabled="listIndex === 0 || listLength === 0" @click="setItem(listIndex - 1)">PREV</button>
    <span>{{ lIds }}</span>
    <span>[{{ listIndex + 1 }}/{{ listLength }}]</span>
    <button :disabled="listIndex === listLength - 1 || listLength === 0" @click="setItem(listIndex + 1)">NEXT</button>
  </div>
</template>

<script>
import { computed, toRefs } from 'vue';

import { useSelectPaging } from '@vuemap/index.js';

import { useMainMap } from './map-objects.js';

export default {
  setup() {
    const map = useMainMap();
    const { paging, setActive, isActive } = useSelectPaging(map, {
      initiallyActive: false,
    });
    const lIds = computed(() => paging.selectedItem.feature?.getId());

    return {
      lIds,
      setActive,
      isActive,
      ...toRefs(paging),
    };
  },
};
</script>
