<template>
  <popup
    :map="mapContainer"
    :visible="visible"
    :coordinates="coordinates"
    :overlay-popup-options="overlayPopupOptions"
    :popup-wrapper-class="popupWrapperClass"
    ><template #content>{{ content }}</template></popup
  >
</template>

<script>
import Popup from './Popup.vue';
import { onMounted, ref } from 'vue';
import { useMap } from '@vuemap/index.js';

import { toLonLat } from 'ol/proj.js';
import { toStringHDMS } from 'ol/coordinate.js';

export default {
  name: 'OlCoordinatePopup',
  components: { Popup },
  props: {
    /**
     * Options to pass to underlying OL overlay instance
     */
    overlayPopupOptions: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    /**
     * Custom overwrite of wrapper ol-popup class (default wrapper styling completely replaced)
     */
    popupWrapperClass: {
      type: String,
      required: false,
      default: null,
    },
  },
  setup() {
    const mapContainer = useMap();
    const visible = ref(false);
    const coordinates = ref();
    const content = ref('');

    onMounted(async () => {
      mapContainer.value.olObject.on('singleclick', mapClicked);
    });

    function mapClicked(event) {
      const coordinate = event.coordinate;
      const hdms = toStringHDMS(toLonLat(coordinate));
      content.value = `You clicked here: ${hdms}`;
      visible.value = true;
      coordinates.value = coordinate;
    }

    return { visible, coordinates, content, mapContainer };
  },
};
</script>
