<template>
  <!-- Recreate popup on each popupVisible change (position was buggy when active was toggled) -->
  <popup
    v-if="popupVisible"
    :map="mapContainer"
    :visible="true"
    :coordinates="coordinates"
    :overlay-popup-options="overlayPopupOptions"
    :popup-wrapper-class="popupWrapperClass"
    @popup-closed="close"
  >
    <template #body="{ close }">
      <!--
        @slot Select popup modal body element. Used for completely custom popup template. Mutually exclusive with content slot.
        @binding close Function to close popup modal from slot template
        @binding features Array of selected features
        @binding content Parsed features data by contentParser function
		  -->
      <slot name="body" :close="close" :features="features" :content="content"></slot>
    </template>
    <template #content>
      <!--
        @slot Popup modal content. Body and close button provided by ol-popup component. Slot defaults to list of content properties. Mutually exclusive with body slot.
        @binding features Array of selected features
        @binding content Parsed features data by contentParser function
      -->
      <slot name="content" :features="features" :content="content">
        <ul>
          <li v-for="(value, key) in content" :key="key">
            <strong>{{ key }}</strong>
            <em>{{ value }}</em>
          </li>
        </ul>
      </slot>
    </template>
  </popup>
</template>

<script>
import Popup from './Popup.vue';
import { useMap } from '@vuemap/index.js';
import { useSelect } from '@composables/interactions/Select';
import { ref, watch, shallowRef, onUnmounted } from 'vue';

/**
 * Reactive composed component merging OpenLayers select interaction (vuemap OlSelect composable) and ol-popup component for selected data display.
 */
export default {
  name: 'OlSelectPopup',
  components: { Popup },
  props: {
    /**
     * Active state of component. If set to false, popup is hidden and select interaction removed.
     */
    active: {
      type: Boolean,
      default: true,
      required: false,
    },
    /**
     * Function to transform selected feature(s) into popup content data. By default exposes properties returned by getProperties of first feature.
     */
    onselectFeatureTransform: {
      type: Function,
      required: false,
      default: (features) => {
        const feature = features[0];
        const featureProps = feature.getProperties();
        delete featureProps.geometry;
        return featureProps;
      },
    },
    /**
     * Options to pass to underlying useSelect interaction (useSelect options properties)
     */
    selectOptions: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    /**
     * Options to pass to underlying OL overlay instance
     */
    overlayPopupOptions: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    /**
     * Custom overwrite of wrapper ol-popup class (default wrapper styling completely replaced)
     */
    popupWrapperClass: {
      type: String,
      required: false,
      default: null,
    },
  },
  setup(props) {
    const mapContainer = useMap();
    const popupVisible = ref(false);
    const coordinates = ref();
    const content = ref('');
    const features = shallowRef([]);

    const {
      lastSelectEvent,
      clearSelect,
      setActive: setSelectActive,
      destroy: destroySelect,
    } = useSelect(mapContainer.value, {
      initiallyActive: props.active,
      hovering: true,
      ...props.selectOptions,
    });

    watch(lastSelectEvent, (event) => {
      if (event.selected.length === 0) {
        popupVisible.value = false;
        return;
      }
      const selectedFeatures = event.target.getFeatures().getArray();
      features.value = selectedFeatures;
      content.value = props.onselectFeatureTransform(selectedFeatures);
      popupVisible.value = true;
      coordinates.value = selectedFeatures[0].getGeometry().getClosestPoint(event.mapBrowserEvent.coordinate); // Get closest point of feature to click
    });

    watch(
      () => props.active,
      (isActive) => {
        if (!isActive) {
          popupVisible.value = false;
          clearSelect();
        }
        setSelectActive(isActive);
      },
    );

    function close() {
      clearSelect();
    }

    onUnmounted(() => {
      destroySelect();
    });

    return { mapContainer, popupVisible, coordinates, close, content, features };
  },
};
</script>
