<template>
  <div ref="elementRef" :class="wrapperClass">
    <!--
      @slot Popup modal body element. By default body div with popup close button and content div provided. Mutually exclusive with content slot.
      @binding close Function to close popup modal from slot template
		-->
    <slot name="body" :close="close">
      <div class="ol-popup-body">
        <a href="#" class="ol-popup-closer" @click="close"></a>
        <div class="ol-popup-content">
          <!--
          @slot Popup modal content. Body and close button provided by popup. Mutually exclusive with body slot.
          -->
          <slot name="content"></slot>
        </div>
      </div>
    </slot>
  </div>
</template>

<script>
import { ref, onMounted, onUnmounted, toRef, computed } from 'vue';

import usePopupBase from './PopupBase.js';
import { onOlReady } from './reactivity.js';

export default {
  props: {
    /**
     * MapContainer object for popup
     */
    map: {
      type: Object,
      required: true,
    },
    /**
     * Visibility state of popup modal (popup needs also coordinates to be visible).
     */
    visible: {
      type: Boolean,
      required: true,
    },
    /**
     * Coordinates for popup position (OL coordinates array type)
     */
    coordinates: {
      type: Array,
      required: false,
      default: null,
    },
    /**
     * Custom overwrite of wrapper ol-popup class (default wrapper styling completely replaced)
     */
    popupWrapperClass: {
      type: String,
      required: false,
      default: null,
    },
    /**
     * Custom changes to OL overlay (popup) instance properties
     */
    overlayPopupOptions: {
      type: Object,
      default: () => ({}),
    },
  },
  /**
   * Popup closed with popup closing button event.
   * @event popup-closed
   */
  /**
   * Popup successfully mounted and initialized event.
   * @event ready
   */
  /**
   * Popup visibility change event.
   * @event update:visible
   * @property {boolean} visible Current in popup component visibility state
   */
  emits: ['popup-closed', 'ready', 'update:visible'],
  setup(props, { emit }) {
    const elementRef = ref(null);
    const ready = ref(false);

    const defaultWrapperClass = 'ol-popup';
    const wrapperClass = computed(() => props.popupWrapperClass || defaultWrapperClass);

    const { closePopup, initialize, destroy } = usePopupBase({
      visibleRef: toRef(props, 'visible'),
      coordinatesRef: toRef(props, 'coordinates'),
      elementRef,
      emit,
    });

    onMounted(() => {
      onOlReady(props.map, () => {
        initialize(props.map.olObject, props.overlayPopupOptions);
        ready.value = true;
        emit('ready');
      });
    });

    onUnmounted(() => {
      destroy(props.map.olObject);
    });

    function close() {
      closePopup();
      emit('popup-closed');
    }

    return { elementRef, close, ready, wrapperClass };
  },
};
</script>

<style scoped>
.ol-popup {
  min-width: 280px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-body {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: '✖';
}
</style>
