<template>
  <slot></slot>
</template>

<script>
import { inject, onUnmounted } from 'vue';

import { VmMapProviderKey } from '@vuemap/symbols.js';
import { useVueMap } from '@vuemap/compositionApi.js';
import { onVmItemsReady } from '@utils/reactivity';

export default {
  props: {
    vmLayer: {
      type: [Object, Function],
      required: true,
    },
  },
  setup(props) {
    const vueMap = useVueMap();
    const map = inject(VmMapProviderKey);

    const _layer = typeof props.vmLayer === 'object' ? props.vmLayer : props.vmLayer();

    const cancelAddon = onVmItemsReady(_layer, () => {
      vueMap.addToMap(map, _layer);
    });

    onUnmounted(() => {
      cancelAddon();
      vueMap.removeFromMap(map, _layer);
    });
  },
};
</script>
