<template>
  <slot name="extraLayers"></slot>
  <slot v-if="areLayersLoaded" :provided-layers="provided"></slot>
  <slot v-else name="isLoading"></slot>
</template>
<script>
import useLayerProvider from '@composables/layers/layerProvider.js';

export default {
  name: 'LayerProvider',
  props: {
    layers: {
      type: [Array, String],
      required: true,
    },
  },
  setup(props) {
    const { layers, areLayersLoaded } = useLayerProvider(props.layers);

    return { provided: layers, areLayersLoaded };
  },
};
</script>
