<template>
  <slot></slot>
</template>
<script>
import { provide } from 'vue';

import { VmMapProviderKey } from '@vuemap/symbols.js';

export default {
  name: 'VmMapProvider',
  props: {
    vmMap: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    provide(VmMapProviderKey, props.vmMap);
  },
};
</script>
