<template>
  <div id="map" ref="elementRef" v-bind="$attrs"></div>
  <slot></slot>
</template>
<script>
import { onMounted, ref, provide } from 'vue';

import { VmMapProviderKey } from '@vuemap/symbols.js';

export default {
  name: 'VmMapElement',
  props: {
    vmMap: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    provide(VmMapProviderKey, props.vmMap);
    const elementRef = ref(null);

    onMounted(() => {
      props.vmMap.setElement(elementRef);
    });

    return { elementRef };
  },
};
</script>
